
bin/
obj/
out/
.vs/


E-Learning/bin/
E-Learning/obj/
E-Learning/out/
E-Learning/vs/



.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates


logs/
*.log


*.cache
*.lock
*.pid
*.seed
*.coveragerc


appsettings.Development.json
appsettings.Local.json
appsettings.*.json


Properties/launchSettings.json

project.lock.json
project.assets.json


publish/
wwwroot/


*.vs/
*.ncrunch*
*.localhistory
.idea/
*.vsix
.vsconfig

# B? qua các file build
*.dll
*.exe
*.pdb
*.ilk
*.obj
*.idb
*.lib
*.nupkg
*.ntvs*


*.suo
*.user
*.userosscache
*.sln.docstates


project.lock.json
project.assets.json
